body {
    background: #1E1E1E;
    font-family: "Marvel", sans-serif;
    width: 1680px;
   
}

#navlinks {
    font-size: 2.2rem;
}

#navlinks .nav-link:hover {
    color: #f67dea;
}

#mainNav {
    font-family: "Marvel";
    
    
}

#mainNav .navbar-brand {
    color: #f67dea;
    font-size: 2.2rem;
    margin-top: 5px;
    font-weight: bold;
    border: 2px solid #f67dea;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -1px;
    padding-bottom: -1px;
}

#buttonnav .navbar-toggler {
    color: #f67dea;
    font-size: 2.2rem;
}



