body {
    background: #1E1E1E;
    font-family: "Marvel", sans-serif;
    
   
}


#navlinks .nav-link:hover {
    color: #f67dea;
    
}

#mainNav {
    font-family: "Marvel";
    font-size: 1.2rem;
    color: #fcd7f9;
}

#navlinks .navbar-nav {
    text-decoration-line: line-through;
    text-decoration-color: #fcd7f9;
    text-decoration-thickness: 0.5px;
    margin-top: -13px;
    
}

nav li {
    display: inline-block;
    padding: 15px;
}

nav li:hover {
    text-decoration-line: line-through;
    text-decoration-color: #ce0ebb;
}

#mainNav .navbar-brand {
    color: #fcd7f9;
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: bold;
    border: 2px solid #f67dea;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -1px;
    padding-bottom: -1px;
}

#buttonnav .navbar-toggler {
    color: #fcd7f9;
    font-size: 2.0rem;
}

#tree1left {
    position: absolute;
    opacity: 0.35; 
    width: 1100px;
    height: 900px;
    margin-left: -350px;
    margin-top: 50px;
}


#app{
  height: 900px;
  width: 800px;

}

.container {
  width: 1000px;
  height: 1000px;
  //position: fixed;
  overflow: hidden;
  margin-left: -100px;
}

.loader {
  width: 500px;
  margin-top: 450px;
  margin-left: 100px;
  
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.loader span {
  width: 520px;
  height: 150px;
  position:: absolute;
  //margin: -280px 40px 54px -34px;
  background: url("blossom.png");
  background-size: 275px;
  opacity: 0;
  -webkit-animation: loader 7s infinite linear;
  -moz-animation: loader 7s infinite linear;
  animation: loader 6s infinite linear;
}

.loader span:nth-child(5n+5) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
   animation-delay: 1s}

/*.loader span:nth-child(3n+2) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 1s;
   animation-delay: 2s;
}*/

@keyframes loader {
  0% {
    width: 220px;
    height: 220px;
    opacity: 0.15;

    -webkit-transform: translate(0, 0vh) rotateZ(0deg);
  }
  25% {
    width: 220px;
    height: 220px;
    opacity: 0.15;

    -webkit-transform: translate(0, 25vh) rotateZ(90deg);
  }
  75% {
    width: 220px;
    height: 220px;
    opacity: 0.15;

    -webkit-transform: translate(5vw, 75vh) rotateZ(180deg);
  }
  100% {
    width: 220px;
    height: 220px;
    opacity: 0.15;

    -webkit-transform: translate(10vw, 100vh) rotateZ(270deg);
  }
}

@-webkit-keyframes loader {
  100% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(0, 0vh) rotateZ(8deg);
  } 
  25% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(0, 25vh) rotateZ(90deg);
  }
  75% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(5vw, 75vh) rotateZ(270deg);
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(10vw, 100vh) rotateZ(360deg);
  }
}

@-moz-keyframes loader {
  50% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(0, 0vh) rotateZ(5deg);
  } 
  25% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(0, 25vh) rotateZ(92deg);
  }
  75% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(5vw, 75vh) rotateZ(270deg);
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0.15;

    -webkit-transform: translate(10vw, 100vh) rotateZ(360deg);
  }
}